<div >
    <h1>Producto funciona</h1>
    
    <div class="carts">
        {{#each data}}
        <div class="cartProduct">
            <h3>{{title}}</h3>
            <p>
            {{description}} <br>
            precio ${{price}}
            </p>
        </div>
        {{/each}}
    </div>
</div>